/*
Usage as a mixin:
.element {
  @include mixin;
}
*/

@mixin reset-indents {
  margin: 0;
  padding: 0;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
