// ---------------------- text/font -----------
.uppercase {
  text-transform: uppercase !important;
}

.align-text-center {
  text-align: center !important;
}

.align-text-top {
  text-align: left !important;
}

.align-text-bottom {
  text-align: right !important;
}

.bold {
  font-weight: bold !important;
}
